Repository natura-cosmeticos/natds-android, pull requests merged in 2020-07, with the labels that each got.

#99 [DSY-1177] Fix color list selector usage
  designsystem/src/main/res/color/button_ripple_color_dark.xml
  designsystem/src/main/res/color/button_ripple_color_light.xml
  designsystem/src/main/res/color/button_ripple_color_v23.xml
  designsystem/src/main/res/color/button_text_color_selector.xml
  designsystem/src/main/res/color/button_text_color_selector_dark.xml
  designsystem/src/main/res/color/button_text_color_selector_light.xml
  designsystem/src/main/res/color/button_text_color_selector_v23.xml
  designsystem/src/main/res/color/color_control_secondary_selector.xml
  designsystem/src/main/res/color/color_selector_primary_avon_dark.xml
  designsystem/src/main/res/color/color_selector_primary_avon_light.xml
  designsystem/src/main/res/color/color_selector_primary_natura_dark.xml
  designsystem/src/main/res/color/color_selector_primary_natura_light.xml
  designsystem/src/main/res/color/color_selector_primary_tbs_dark.xml
  designsystem/src/main/res/color/color_selector_primary_tbs_light.xml
  designsystem/src/main/res/color/color_selector_primary_v23.xml
  designsystem/src/main/res/color/color_selector_secondary_avon_dark.xml
  designsystem/src/main/res/color/color_selector_secondary_avon_light.xml
  designsystem/src/main/res/color/color_selector_secondary_natura_dark.xml
  designsystem/src/main/res/color/color_selector_secondary_natura_light.xml
  designsystem/src/main/res/color/color_selector_secondary_tbs_dark.xml
  designsystem/src/main/res/color/color_selector_secondary_tbs_light.xml
  designsystem/src/main/res/color/selectors_secondary_v23.xml
  designsystem/src/main/res/color/stroke_color_selector_avon_dark.xml
  designsystem/src/main/res/color/stroke_color_selector_avon_light.xml
  designsystem/src/main/res/color/stroke_color_selector_natura_dark.xml
  designsystem/src/main/res/color/stroke_color_selector_natura_light.xml
  designsystem/src/main/res/color/stroke_color_selector_tbs_dark.xml
  designsystem/src/main/res/color/stroke_color_selector_tbs_light.xml
  designsystem/src/main/res/color/stroke_color_selector_v23.xml
  designsystem/src/main/res/color/text_color_primary_selector.xml
  designsystem/src/main/res/color/text_color_secondary_selector.xml
  designsystem/src/main/res/color/text_selectors_dark.xml
  designsystem/src/main/res/color/text_selectors_light.xml
  designsystem/src/main/res/color/text_selectors_v23.xml
  designsystem/src/main/res/layout/ds_text_field_input.xml
  designsystem/src/main/res/values-v21/themes.xml
  designsystem/src/main/res/values/button_styles.xml
  designsystem/src/main/res/values/colors.xml
  designsystem/src/main/res/values/ds_base_attrs.xml
  designsystem/src/main/res/values/ds_base_themes.xml
  designsystem/src/main/res/values/styles.xml
  designsystem/src/main/res/values/styles_avon.xml
  designsystem/src/main/res/values/styles_natura.xml
  designsystem/src/main/res/values/styles_tbs.xml
  designsystem/src/main/res/values/themes.xml
  sample/src/main/res/layout/activity_selection_control.xml
Labels: bug, component: Button, component: selection control

#98 [DSY-1051] fix expansion panel collapsed size error happening on andr…
  designsystem/src/main/kotlin/com/natura/android/expansionPanel/ExpansionPanel.kt
  designsystem/src/main/res/layout/ds_expansion_panel.xml
  designsystem/src/test/kotlin/com/natura/android/expansionPanel/ExpansionPanelTest.kt
Labels: bug, component: Expansion panel

#106 [DSY-1138] Running unit tests in many apis
  designsystem/src/test/kotlin/com/natura/android/menu/MenuViewTest.kt
  designsystem/src/test/kotlin/com/natura/android/textfield/TextFieldTest.kt
  designsystem/src/test/resources/robolectric.properties
  sample/src/test/resources/robolectric.properties
Labels: enhancement, internal

#105 [DSY-1107] Dialog Standard
  designsystem/src/main/kotlin/com/natura/android/dialog/DialogStandard.kt
  designsystem/src/main/res/drawable/dialog_standard_background.xml
  designsystem/src/main/res/layout/standard_dialog_content.xml
  designsystem/src/main/res/values-v21/themes.xml
  designsystem/src/main/res/values/ds_base_attrs.xml
  designsystem/src/main/res/values/ds_base_themes.xml
  designsystem/src/main/res/values/styles.xml
  designsystem/src/main/res/values/styles_avon.xml
  designsystem/src/main/res/values/styles_natura.xml
  designsystem/src/main/res/values/styles_tbs.xml
  designsystem/src/main/res/values/themes.xml
  designsystem/src/test/kotlin/com/natura/android/dialog/DialogStandardTest.kt
  sample/src/androidTest/kotlin/com/natura/android/sample/MainActivityFunctionalTests.kt
  sample/src/androidTest/kotlin/com/natura/android/sample/components/DialogActivityFunctionalTest.kt
  sample/src/main/AndroidManifest.xml
  sample/src/main/kotlin/com/natura/android/sample/MainActivity.kt
  sample/src/main/kotlin/com/natura/android/sample/components/DialogActivity.kt
  sample/src/main/res/layout/activity_dialog.xml
  sample/src/main/res/layout/activity_main.xml
  sample/src/test/kotlin/com/natura/android/sample/MainActivityTest.kt
  sample/src/test/kotlin/com/natura/android/sample/components/DialogActivityTest.kt
Labels: component: Dialog, enhancement

#113 [DSY-1229] ExpansionPanel's state handling methods
  designsystem/src/main/kotlin/com/natura/android/expansionPanel/ExpansionPanel.kt
  designsystem/src/test/kotlin/com/natura/android/expansionPanel/ExpansionPanelTest.kt
  doc/expansion-panel.md
  sample/src/androidTest/kotlin/com/natura/android/sample/components/ExpansionPanelActivityTest.kt
  sample/src/main/kotlin/com/natura/android/sample/components/ExpansionPanelActivity.kt
  sample/src/main/res/layout/activity_expansion_panel.xml
Labels: component: ExpansionPanel, documentation, enhancement

#116 [DSY-1229] feat: ajusting sample app
  sample/src/androidTest/kotlin/com/natura/android/sample/components/ExpansionPanelActivityTest.kt
  sample/src/main/kotlin/com/natura/android/sample/components/ExpansionPanelActivity.kt
Labels: enhancement

#112 DSY-271 - Base Badge component
  README.md
  designsystem/src/main/kotlin/com/natura/android/badge/BadgeDrawable.kt
  designsystem/src/main/kotlin/com/natura/android/error/DsErrorDefault.kt
  designsystem/src/main/res/drawable/badge_rounded_rectangle.xml
  designsystem/src/main/res/drawable/ic_menu.xml
  designsystem/src/main/res/drawable/icon_base_badge.xml
  designsystem/src/main/res/layout/custom_app_bar.xml
  designsystem/src/main/res/layout/ds_input_text_highlight_view.xml
  designsystem/src/main/res/menu/custom_menu.xml
  designsystem/src/main/res/values/dimens.xml
  doc/badge.md
  sample/build.gradle
  sample/src/androidTest/kotlin/com/natura/android/sample/MainActivityFunctionalTests.kt
  sample/src/androidTest/kotlin/com/natura/android/sample/test/AppBarActivityTest.kt
  sample/src/androidTest/kotlin/com/natura/android/sample/test/BadgeActivityTest.kt
  sample/src/main/AndroidManifest.xml
  sample/src/main/assets/icons_map.txt-e
  sample/src/main/kotlin/com/natura/android/sample/MainActivity.kt
  sample/src/main/kotlin/com/natura/android/sample/components/AppBarActivity.kt
  sample/src/main/kotlin/com/natura/android/sample/components/BadgeActivity.kt
  sample/src/main/res/layout/activity_appbar.xml
  sample/src/main/res/layout/activity_badge.xml
  sample/src/main/res/layout/activity_main.xml
  sample/src/main/res/layout/custom_app_bar.xml
  sample/src/main/res/menu/appbar_menu.xml
  sample/src/main/res/values/strings.xml
  sample/src/test/kotlin/com/natura/android/sample/MainActivityTest.kt
Labels: component: Badge, enhancement

#123 DSY-1202 - App Bar Top
  designsystem/src/main/kotlin/com/natura/android/appbar/AppBar.kt
  designsystem/src/main/res/layout/custom_app_bar.xml
  designsystem/src/main/res/menu/custom_menu.xml
  designsystem/src/main/res/values/ds_attrs.xml
  designsystem/src/main/res/values/styles.xml
  doc/app-bar-top.md
  sample/src/androidTest/kotlin/com/natura/android/sample/MainActivityFunctionalTests.kt
  sample/src/androidTest/kotlin/com/natura/android/sample/components/AppBarActivityFunctionalTest.kt
  sample/src/androidTest/kotlin/com/natura/android/sample/test/AppBarActivityTest.kt
  sample/src/main/kotlin/com/natura/android/sample/components/AppBarActivity.kt
  sample/src/main/res/layout/activity_appbar.xml
  sample/src/main/res/layout/custom_app_bar.xml
  sample/src/main/res/menu/appbar_menu.xml
Labels: component: AppBar, enhancement

#126 chore: replace commited by committed on Typo CI
  .typo-ci.yml
Labels: chore

#132 [DSY-1271] fix(appbar): remove actionButtonStyle parameter
  designsystem/src/main/res/values/styles.xml
Labels: bug
