Repository natura-cosmeticos/natds-android, pull requests merged in 2020-08, with the labels that each got.

#133 docs: [DSY-000] Refactor badge doc
  Makefile
  doc/badge.md
  tools/screenshot-tools.sh
Labels: component: Badge, documentation

#135 ci: 🎡 [DSY-1262] Add commands to generate snapshot version
  build.gradle
Labels: ci

#148 [DSY-1420] feat: configure TextField to manually save its state
  designsystem/src/main/kotlin/com/natura/android/textfield/TextField.kt
  designsystem/src/main/res/layout/ds_text_field_input.xml
  sample/src/test/kotlin/com/natura/android/sample/components/TextFieldActivityTest.kt
Labels: bug, component: TextField
